.todo-detail-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.todo-item {
    border: none;
    border-bottom: 1px solid #f2f2f2;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 20px;

    padding: 15px;
    padding-left: 0;
    padding-right: 5px;
}

.todo-complete-container {
    flex: 3;
}

.todo-complete {
    opacity: 0.3;
    font-weight: 100;
    height: 100%;;
    font-size: 0.9em;
    cursor: pointer;
    text-align: center;
}

.todo-content {
    flex:10;
    font-size: 1.3em;
    word-wrap: break-word;
}

.todo-remove {
    flex:2;
    opacity: 0.2;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
}

.todo-remove:hover {
    opacity: 0.6;
}

.todo-filter-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.todo-header {
    display: flex;
    flex-direction: row;
    width: 100%;

    border: none;
    border-bottom: 1px solid #f2f2f2;

    min-height: 25px;
    padding: 12px;
}

.todo-header-count {
    flex: 4; 
    padding-left: 15px;

    font-weight: 100;
    opacity: 0.7;
    color: grey;
    display: flex;
    align-items: center;
}

.todo-header-filter-container {
    flex: 7;
    padding-right: 15px;
    display: flex;
}

.filter-item {
    padding-left: 12px;
    padding-right: 12px;

    font-weight: 100;
    opacity: 0.5;
    color: grey;
    cursor: pointer;
}

.filter-item-active {
    padding-top: 3px;
    padding-bottom: 3px;
    opacity: 0.7;

    border: 1px solid #cccccc;
}

.filter-item-inactive {
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.filter-item-inactive:hover {
    border: 1px solid #e6e6e6;
}
